/* .feed{
    flex: 1;
    padding: 18px 161px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 23px
    
} */

.messageSender {
    display: flex;
    flex-direction: column;
    background-color: #e6e6e6;
    width: 55%;
    margin: 0px auto;
    /* padding: 10px 10px; */
    border-radius: 15px;
    box-shadow: 0px 5px 15px -7px rgb(0 0 0 / 30%);
    margin-top: 17px;
}

.messageSenderTop{
    display: flex;
    padding: 15px;
    border-bottom: 1px solid white;
}

.messageSenderTop form{
    flex: 1;
    display: flex;
}

.messageSenderTop form input{
    outline-width: 0;
    border: none;
    padding: 5px 20px;
    margin: 0px 10px;
    border-radius: 99px;
    background-color: #eff2f5;
}
/* .messageSender form button{
    display: none;
} */
.messageSender_input{
    flex: 1;
}