.post {
    width: 100%;
    margin-top: 32px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 7px 7px 27px -13px rgb(0 0 0 / 61%);
}

.post_img img{
    width: 100%;
}

.post_top{
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
}

.post_avatar{
    margin-right: 10px;

}
.post_topInfo{
    font-size: small;
}
.post_topInfo >h3{
    margin: 3px 11px;
}


.post_topInfo >p{
    font-size: 13px;
}

.post_bottom{
    display: flex;
    margin-bottom: 10px;
    padding: 6px 25px;

}



