.form{
    background-color: #FAFAFA;
    padding: 5px 5px;
    border: 1px dashed rgb(216, 216, 216);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 95%;
    margin: auto;
}
.form:hover{
    border: 1px dashed blue;

}
.anticon-inbox  >svg{
    font-size: 36px;
    color: #40a9ff;
}

.fileInput{
    width: 23%;
    padding: 8px 0px;
    margin: 7px auto;
    font-size: 15px;

}

.ant-upload-hint{
    color: rgb(124 124 124 / 85%);
}

.progress{
    width: 26%;
    margin: auto;
}

span.ant-avatar.ant-avatar-circle.ant-avatar-icon.headerAvator{
    width: 44px;
    height: 44px;
    line-height: 37px;
    font-size: 22px;
    margin: 6px 15px;

}

.headerSpan{
    font-weight: bold;
    font-size: 15px;
}
.ant-menu-horizontal > .ant-menu-item::after
{
  border-bottom: none !important;
  transition: none !important;
}

.logoutCss{
        background: #1890ff;
        border: none;
        margin: 4px 8px;
        padding: 0px 29px;
        border-radius: 5px;
    }
.logoutCsss{
        background: #1890ff;
        border: none;
        border-radius: 5px;
    }
